name: build-outflow-payment
on:
  push:
    branches:
      - dev
      - QA

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: '21'
          cache: maven
      - name: Build jar
        run: mvn clean compile jib:build
      # - name: Deploy to test
      #   uses: johnbeynon/render-deploy-action@v0.0.8
      #   with:
      #     service-id: srv-d0etnbumcj7s7387q840
      #     api-key: rnd_VmQJ50o6AWfdo2RB0vmrjOpur53F
      #     wait-for-success: true
  deploy-QA:
    name: Deploy QA
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/QA'
    steps:
      - name: Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: srv-d5rp5375r7bs739c6stg
          api-key: rnd_VmQJ50o6AWfdo2RB0vmrjOpur53F
          wait-for-success: true
  
  deploy-dev:
    name: Deploy dev
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/dev'
    steps:
      - name: Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: srv-d0etnbumcj7s7387q840
          api-key: rnd_VmQJ50o6AWfdo2RB0vmrjOpur53F
          wait-for-success: true

# https://api.render.com/deploy/srv-cvr5ii8gjchc73bnt2r0?key=P1UQMDZiet0
# https://api.render.com/deploy/srv-cvr5ii8gjchc73bnt2r0?key=P1UQMDZiet0

